#videos{
    text-align: center;
    background-color:#FFCDD2; 
}
#e{
    background-color:#FFE0B2; 
}
#u{
    background-color:#FFCDD2; 
}
#text{
    color:black;
}
#purches{
    background-color: aliceblue;
    text-align: center;
}
#new{
    background-color: deeppink;
    text-align: center;
}
#m{
    background-color:#B9F6CA; 
}
#b{
  background-color:#FFCC80;   
}
#mynavbar{
    background-color:#1565C0;
}
#t{
    color:black;
}
#campus{
    background-color:#D1C4E9;
    text-align: center;
}
.my_nav_bar{
    position: sticky;
    top:0px;
    z-index: 999;
}
#contact{
    text-align: center;
    background-color:#8E24AA; 
}
#music{
    background-color: azure;
}
#line{
    color:black;
}
#school{
    text-align: center;
    background-color: #90CAF9;
}
#math{
background-color: darkgray;
}